#ck_subscribe_form button#ck_subscribe_button {
  background: #5b9a68;
  padding: 30px 30px 5px 15px;
  border: none;
  border-radius: 3px;
  color: #fff;
  margin: 0;
  position: relative;
  width: 100%;
  height: 48px;
  font-weight: bold;
  font-size: 16px;
  padding: 10px;
  text-shadow: none;
}

#ck_subscribe_form button#ck_subscribe_button:hover {
  background: #459253;
  color: #fff;
  padding-top: 50px;
  margin: 0;
  padding: 10px
}

#ck_subscribe_form p.spam {
  padding-top: 15px;
  font-size: 13px;
}

.pixfort_business_10 #ck_subscribe_form input,
.pixfort_business_10 #ck_subscribe_form input:focus,
.pixfort_business_10 #ck_subscribe_form select,
.pixfort_business_10 #ck_subscribe_form select:focus,
.pixfort_business_10 #ck_subscribe_form textarea,
.pixfort_business_10 #ck_subscribe_form textarea:focus {
    background: #eee;
    position: relative;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 3px;
    color: #888;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    padding: 15px 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.pixfort_business_10 #ck_subscribe_form {
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.pixfort_business_10 #ck_subscribe_form input:focus {
  color: #000;
}

.pixfort_business_10 #ck_subscribe_form input#ck_firstNameField {
  display: none;
}

.pixfort_business_10 .title_st {
  padding-top: 0px;
  color: #5ca4fc;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 16px;
}

.pixfort_business_10 .txt_st,
.pixfort_medical_16 .med_text {
  color: #666666;
  font-size: 18px;
}

.why_section .txt_st {
  padding-top: 15px;
}

.pix_builder_bg .med_tit {
  padding: 20px 0;
}

.pixfort_pix_1 .tesi_style {
  min-height: 262px;
}

.pixfort_business_10 .headtext_style {
  text-align: center;
  padding: 30px 20px 15px;
}

.pixfort_business_10 .headtext_style span {
  font-size: 28px;
  line-height: 38px;
}

.pixfort_business_10 .alpha img {
  width: 100%;
  height: auto;
}

.ebook {
  text-align: center;
  padding-top: 20px;
}

.ebook img {
  width: 70%;
}

.thank-you-page .checkmark {
  font-size: 88px;
  line-height: 88px;
  display: inline-block;
  color: #FFFFFF;
}

.thank-you-page .testimonials {
  padding-top: 15px;
}

.pixfort_medical_16 .omega img,
.pixfort_pix_1 .omega img {
  border-radius: 0px;
  border-color: rgb(68, 68, 68);
  border-style: none;
  border-width: 1px;
  width: 344px;
  height: 347px;
}

.thank-you-page p.quote-text {
  font-size: 22px;
  font-weight: normal;
  line-height: 32px;
}

@media only screen and (max-width: 767px) {
  .pixfort_medical_16 .omega img,
  .pixfort_pix_1 .omega img {
    width: 174px;
    height: auto;
  }
}
