<div id="author" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="row headshot-and-bio">
        <div class="col-sm-12 col-md-4">
          {% asset alex-headshot.png alt="A headshot of Alex Espinoza" %}
        </div>
        <div class="col-sm-12 col-md-8">
          <h3>About the Author</h3>
          <p>Hey there, my name is Alex Espinoza. I'm a software developer and digital marketer based in New York, NY.</p>
          <p>In the past, I've worked at multiple startups and agencies. I've helped brands such as National Geographic, Royal Caribbean and JetBlue optimize their websites.</p>
          <p>In 2017, I partnered with my cousin to market his struggling HVAC business. Within a year, we grew his company to $80,000 per month in sales.</p>
          <p>I now work with HVAC companies across the country, teaching them how to use digital marketing to grow their business.</p>
        </div>
      </div>
    </div>
  </div>
</div>
