<div id="blueprint" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      <div class="row strategy-session-offer">
        <div class="col-sm-12 header">
          <h3>Want To Get More Leads For Your HVAC Business?</h3>
        </div>
        <div class="col-sm-12 col-md-6">
          {% asset blueprint-session.jpg alt="HVAC Blueprint Strategy Session" %}
        </div>
        <div class="col-sm-12 col-md-6">
          <p>Schedule your one on one HVAC Lead Generation Blueprint strategy session today, and <strong>I'll teach you exactly how to get quality leads that are looking for your services.</strong></p>
          <p>You'll get a custom digital marketing plan tailor made specifically for your business. <strong>You’ll be able to implement this plan to start getting more leads immediately.</strong></p>
          <a href="/hvac-lead-generation-blueprint-strategy-session" class="button">Yes, I Want My Blueprint</a>
        </div>
      </div>
    </div>
  </div>
</div>
