<div id="bonusPopup" class="mfp-hide">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        {% asset ultimate-hvac-checklist.png %}
      </div>
      <div class="col-12 col-md-6">
        <h2>The Ultimate HVAC Digital Marketing Checklist</h2>
        <p>Know <strong>exactly what you need to do</strong> to get your business found online.</p>
        <p>The <strong>10 things</strong> you need to set up to start <strong>getting more leads</strong>!</p>

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
          <div id="mc_success_msg" style="display:none;">
            <p>Success! Your checklist will be sent to your email soon.</p>
            <p class="mfp-close">Click here to close this pop up.</p>
          </div>

          <div id="mc_error_msg" style="display:none">
            <p>There was an error when submitting your email. Please try again.</p>
          </div>

          <form action="https://clickturbine.us18.list-manage.com/subscribe/post-json?u=a8c7560cd00fd3e9f4e2234c7&amp;id=0668b25dfb&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required>
              </div>

              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->

              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_a8c7560cd00fd3e9f4e2234c7_0668b25dfb" tabindex="-1" value=""></div>

              <div class="clear"><input type="submit" value="Get The Checklist Now" name="subscribe" id="mc-embedded-subscribe" class="button btn fields subscribe_button"></div>

              <p class="mfp-close">No thanks, I don't need more leads.</p>
            </div>
          </form>
        </div>

        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</div>
