<div id="footer" class="container">
  <div class="row">
    <div class="col-12 col-md-7 icon">
      <a href="{{ site.url }}">{% asset clickturbine-icon.png %}</a>
      <span>Helping HVAC Heat Up Their Digital Marketing - &copy; ClickTurbine 2018</span>
    </div>

    <div class="col-12 col-md-5 links">
      <a href="/about">About</a> |
      <a href="/privacy-policy">Privacy Policy</a> |
      <a href="/terms-of-service">Terms of Service</a>
    </div>
  </div>
</div>
