<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">
<link rel="icon" type="image/png" sizes="96x96" href="{{ "/favicon.png" | prepend: site.url }}">

<title>{% if page.layout != "default" %}{{ page.title }} - {% endif %}{{ site.title }}{% if page.layout == "default" %} - {{ site.subtitle }}{% endif %}</title>

{% if page.layout == "post" %}
  <meta name="description" content="{{ page.description | strip_html | strip_newlines }}"></meta>

  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.description | strip_html | strip_newlines }}" />
  <meta property="og:url" content="{{ page.url | prepend: site.url }}" />
  <meta property="og:image" content="{{ site.url }}{% asset {{page.thumbnail_image}} @path %}" />
  <meta name="twitter:card" content="summary_large_image">
{% else %}
  <meta name="description" content="{{ site.description | strip_html | strip_newlines }}"></meta>

  <meta property="og:title" content="{{ site.title }} - {{ site.subtitle }}" />
  <meta property="og:description" content="{{ site.description | strip_html | strip_newlines }}" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{ site.url }}{% asset clickturbine-social-share-image.png @path %}" />
  <meta name="twitter:card" content="summary_large_image">
{% endif %}

<!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-TP45FC4');</script>
  <!-- End Google Tag Manager -->

<!-- Critical Path CSS - https://jonassebastianohlsson.com/criticalpathcssgenerator/ -->
