<div class="bonus-offer">
  <strong>Bonus:</strong> <a href="#bonusPopup" class="open-popup-link">Download a free checklist</a> that outlines everything you need to do to get your business found online. <strong>10 ways to start getting more leads!</strong>
</div>
