<div id="nav" class="container">
  <div class="row">
    <div class="col-12 col-md-6 logo">
      <a href="{{ site.url }}">{% asset clickturbine-logo.png %}</a>
    </div>

    <div class="col-12 col-md-6 links">
      <a href="/">Read The Blog</a> |
      <a href="/about">About</a>
    </div>
  </div>
</div>
