---
title: "About"
permalink: "about"
layout: "page"
---

<div id="about">
  <div class="container alex">
    <div class="row">
      <div class="col-12">
        {% asset alex-headshot.png %}
      </div>

      <div class="col-12">
        <p>Hey there, my name is Alex Espinoza. I'm a software developer and digital marketer based in New York, NY.</p>
        <p>In 2017, I partnered with my cousin to market his struggling HVAC business. Within a year, we grew his company to $80,000 per month in sales.</p>
        <p>I now work with HVAC companies across the country, teaching them how to use the internet to get more leads and grow their business.</p>
        <p>I live and breathe digital marketing. Every day, I learn and implement all the latest strategies and angles, while getting the businesses I work with results.</p>
        <p>With this knowledge, I've been able to transform HVAC companies on the brink of closure into becoming the top service providers in their area.</p>
        <p>My specialty lies in creating effective Google AdWords campaigns as the solid foundation of a digital marketing strategy. I work with businesses of all sizes and budgets to help them reach their revenue targets and goals.</p>
        <p>I started ClickTurbine because there were no in-depth digital marketing resources specifically made for the HVAC industry. With the knowledge I've gained over the past two years, it made sense to write it down and to start helping others.</p>
        <p>I hope the free tips you get from this website will be able to help you out!</p>
        <p>Please let me know if you have any questions about anything. You can reach me by email at <strong>alex@clickturbine.com</strong>.</p>
        <p>I wish you all the best with your business!</p>
      </div>
    </div>
  </div>
</div>
