---
title: "HVAC Lead Generation Blueprint Strategy Session"
permalink: "hvac-lead-generation-blueprint-strategy-session"
layout: "landing-page"
---

<div id="landingPage">
  <div class="container header">
    <div class="row">
      <div class="col-12">
        <h1>Do You Want Exclusive, Quality HVAC Leads Contacting You Every Day?</h1>
        <h2>I Can Help You Build a Lead Funnel That Will Send You Customers Daily</h2>
      </div>
    </div>
  </div>

  <div class="container about">
    <div class="row">
      <div class="col-12 col-md-6">
        {% asset blueprint-session.jpg %}
      </div>

      <div class="col-12 col-md-6">
        <h3>Schedule Your HVAC Lead Generation Blueprint Strategy Session Today</h3>
        <p>The strategy session is a 30-45 minute conversation (through phone call or Skype) where <strong>we'll do a deep dive into your business</strong> to better understand your current marketing efforts and future goals.</p>
        <p>Once we know your business's hard numbers, <strong>we'll use a return on investment calculator to see how much you can gain</strong> by having an effective digital marketing strategy in place.</p>
        <p>Together, we'll create your custom made lead generation blueprint that you can implement. <strong>You'll be able to start getting more potential customers contacting you immediately</strong>.</p>
        <p>In the end, <strong>you'll have your very own lead funnel</strong>, working to get you leads 24/7.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid cta">
    <div class="row">
      <div class="col-12">
        <h3>Get Your Custom Blueprint, Only 3 Sessions Left Available This Month</h3>
      </div>

      <div class="col-12">
        <form id="strategy-session-form" action="https://wt-f8af72159b229d5a895848a643ddf7bf-0.run.webtask.io/clickturbine-payment?sku=sku_COpdJauxSHfk12" method="POST">
          <script defer
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_XcvKGXpl7samXuJxE3TIKySU"
            data-amount="99700"
            data-currency="USD"
            data-name="ClickTurbine"
            data-description="HVAC Lead Generation Blueprint Strategy Session"
            data-image="{{ site.url }}{% asset clickturbine-icon.png @path %}"
            data-label="Schedule Your Strategy Session For $997"
            data-zip-code="true"
            data-locale="auto"
            data-allow-remember-me="false">
          </script>
        </form>
      </div>
    </div>
  </div>

  <div class="container included">
    <div class="row">
      <div class="col-12">
        <h2>Here's What You'll Get...</h2>
      </div>

      <div class="col-12">
        <p><span>&#10004;</span>A one-on-one call where we talk about your business, what's working, what isn't, and the goals you want to achieve.</p>
        <p><span>&#10004;</span>Personalized help and guidance from someone who deeply understands digital marketing for HVAC businesses.</p>
        <p><span>&#10004;</span>Your own customized digital marketing plan of action, tailor made for your business, so you'll know exactly what you need to do to start getting more leads.</p>
        <p><span>&#10004;</span>Ad copy templates and walkthrough guides that you'll be able to use and follow to implement your new plan of action.</p>
        <p><span>&#10004;</span>My personal contact information so you can reach me at any time if you have any questions or need help with the set up of your blueprint.</p>
      </div>
    </div>
  </div>

  <div class="container three">
    <div class="row">
      <div class="col-12 col-md-4 single">
        {% asset clock-128.png %}
        <h3>Your Time Is Limited</h3>
        <p>You are already busy enough as it is running your business. Save yourself time and effort, and let me handle the marketing side.</p>
      </div>

      <div class="col-12 col-md-4 single">
        {% asset compass-128.png %}
        <h3>You'll Have Guidance</h3>
        <p>You need help with digital marketing and getting leads. I have the answers to all your questions. I'll be the marketing department of your business.</p>
      </div>

      <div class="col-12 col-md-4 single">
        {% asset banknotes-128.png %}
        <h3>You'll Save Money</h3>
        <p>You won't need to go through the trial and error process when setting up a new marketing system. I've already learned and made those mistakes for you. You'll only get proven results.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid cta">
    <div class="row">
      <div class="col-12">
        <h3>Get Your Custom Blueprint, Only 3 Sessions Left Available This Month</h3>
      </div>

      <div class="col-12">
        <form id="strategy-session-form" action="https://wt-f8af72159b229d5a895848a643ddf7bf-0.run.webtask.io/clickturbine-payment?sku=sku_COpdJauxSHfk12" method="POST">
          <script defer
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_XcvKGXpl7samXuJxE3TIKySU"
            data-amount="99700"
            data-currency="USD"
            data-name="ClickTurbine"
            data-description="HVAC Lead Generation Blueprint Strategy Session"
            data-image="{{ site.url }}{% asset clickturbine-icon.png @path %}"
            data-label="Schedule Your Strategy Session For $997"
            data-zip-code="true"
            data-locale="auto"
            data-allow-remember-me="false">
          </script>
        </form>
      </div>
    </div>
  </div>

  <div class="container testimonials">
    <div class="row">
      <div class="col-12">
        <h2>What Are HVAC Contractors Saying About Their Strategy Sessions?</h2>
      </div>
    </div>

    <div class="row single">
      <div class="col-12 col-md-3">
        {% asset testimonial-face-1.png %}
      </div>

      <div class="col-12 col-md-9">
        <p>"Talking with Alex was a breath of fresh air. I've been pitched and hard sold to by countless other SEO and lead generation companies. Alex was the only one who took the time to really understand my business and how I wanted it to grow. I highly recommend his services."</p>
        <p><strong>Robert H. - Colorado</strong></p>
      </div>
    </div>

    <div class="row single reverse">
      <div class="col-12 col-md-3">
        {% asset testimonial-face-2.png %}
      </div>

      <div class="col-12 col-md-9">
        <p>"I've tried doing pay-per-click advertising in the past, but it never worked out. Alex actually knows what he's doing. I was skeptical at first, but he's proven himself. I'm on track to do $30,000 this month!"</p>
        <p><strong>Brian A. - Virginia</strong></p>
      </div>
    </div>

    <div class="row single">
      <div class="col-12 col-md-3">
        {% asset testimonial-face-3.png %}
      </div>

      <div class="col-12 col-md-9">
        <p>"Getting about 40 leads a month. Business is booming. Alex is the real deal, talk to him."</p>
        <p><strong>Andrew M. - Texas</strong></p>
      </div>
    </div>

    <div class="row single reverse">
      <div class="col-12 col-md-3">
        {% asset testimonial-face-4.png %}
      </div>

      <div class="col-12 col-md-9">
        <p>"The blueprint that Alex created was easy to follow and set up. It easily doubled the amount of people contacting us. We closed the first lead that came in. That completely offset the session's cost and then some. Well worth the money!"</p>
        <p><strong>Mike W. - Georgia</strong></p>
      </div>
    </div>
  </div>

  <div class="container alex">
    <div class="row">
      <div class="col-12">
        {% asset alex-headshot.png %}
      </div>

      <div class="col-12">
        <h3>About Alex</h3>
        <p>Hey there, my name is Alex Espinoza. I'm a software developer and digital marketer based in New York, NY.</p>
        <p>In 2017, I partnered with my cousin to market his struggling HVAC business. <strong>Within a year, we grew his company to $80,000 per month in sales</strong>.</p>
        <p>I now work with HVAC companies across the country, teaching them how to use the internet to get more leads and grow their business.</p>
        <p><strong>I live and breathe digital marketing</strong>. Every day, I learn and implement all the latest strategies and angles, while getting the businesses I work with results.</p>
        <p>With this knowledge, I've been able to transform HVAC companies on the brink of closure into becoming the top service providers in their area.</p>
        <p>My specialty lies in creating effective Google AdWords campaigns as the solid foundation of a digital marketing strategy. <strong>I work with businesses of all sizes and budgets to help them reach their revenue targets and goals</strong>.</p>
        <p>I started ClickTurbine because there were no in-depth digital marketing resources specifically made for the HVAC industry. With the knowledge I've gained over the past two years, it made sense to write it down and to start helping others.</p>
      </div>
    </div>
  </div>

  <div class="container-fluid cta">
    <div class="row">
      <div class="col-12">
        <h3>Get Your Custom Blueprint, Only 3 Sessions Left Available This Month</h3>
      </div>

      <div class="col-12">
        <form id="strategy-session-form" action="https://wt-f8af72159b229d5a895848a643ddf7bf-0.run.webtask.io/clickturbine-payment?sku=sku_COpdJauxSHfk12" method="POST">
          <script defer
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_XcvKGXpl7samXuJxE3TIKySU"
            data-amount="99700"
            data-currency="USD"
            data-name="ClickTurbine"
            data-description="HVAC Lead Generation Blueprint Strategy Session"
            data-image="{{ site.url }}{% asset clickturbine-icon.png @path %}"
            data-label="Schedule Your Strategy Session For $997"
            data-zip-code="true"
            data-locale="auto"
            data-allow-remember-me="false">
          </script>
        </form>
      </div>
    </div>
  </div>

  <div class="container guarantee">
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h2>This Is My Guarantee To You...</h2>
        {% asset money-back-guarantee.png %}
        <h3>30 Day No-Questions Asked 100% Money-Back Guarantee</h3>
        <p>My digital marketing knowledge has already helped many HVAC businesses across the country grow and thrive.</p>
        <p><strong>I want yours to be the next one.</strong></p>
        <p>My aim is to bring value and success with the knowledge that I teach. Knowledge that can be measured and scaled.</p>
        <p><strong>I'm confident that the custom blueprint I create for you will bring you results.</strong></p>
        <p>I'll refund your money within 30 days of you fully implementing your plan if it does not bring you extra leads and sales.</p>
        <p>Let me eliminate all the risk for you. I'll take all of that risk on my shoulders. You have nothing to lose and everything to gain.</p>
        <p><strong>You can rest easy knowing that you are safe and protected by your investment.</strong></p>
        <p>I am all about being honest, straight-forward, and transparent with the strategies that I teach.</p>
        <p><strong>Look, I get it:</strong></p>
        <p>I know that you may have been burned in the past by marketing agencies, lead generation services, and advertising companies.</p>
        <p>It's awful to go through that, and I don't want to see any more HVAC contractors being dragged through that nightmare.</p>
        <p><strong>I'll do everything I can to get you the quality leads you are looking for.</strong></p>
        <p>Again, if for some reason my blueprint doesn't work for you, or you are not satisfied with your results, just ask me for a refund.</p>
        <p><strong>No pressure. No hard feelings. I'll return your money, and we'll part ways amicably.</strong></p>
        <p>You will still be more than welcome to keep reading the blog to pick up free tips!</p>
        <p><strong>This is the kind of faith I have in my expertise.</strong></p>
        <h2>All You Have To Say Is 'Maybe'.</h2>
        <p>Give me the chance to help you, and I'll turn that 'maybe' into a 'hell yes!'.</p>
        <p><strong>Are you ready to take your HVAC business to the next level?</strong></p>
      </div>
    </div>
  </div>

  <div class="container-fluid cta">
    <div class="row">
      <div class="col-12">
        <h3>Get Your Custom Blueprint, Only 3 Sessions Left Available This Month</h3>
      </div>

      <div class="col-12">
        <form id="strategy-session-form" action="https://wt-f8af72159b229d5a895848a643ddf7bf-0.run.webtask.io/clickturbine-payment?sku=sku_COpdJauxSHfk12" method="POST">
          <script defer
            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="pk_live_XcvKGXpl7samXuJxE3TIKySU"
            data-amount="99700"
            data-currency="USD"
            data-name="ClickTurbine"
            data-description="HVAC Lead Generation Blueprint Strategy Session"
            data-image="{{ site.url }}{% asset clickturbine-icon.png @path %}"
            data-label="Schedule Your Strategy Session For $997"
            data-zip-code="true"
            data-locale="auto"
            data-allow-remember-me="false">
          </script>
        </form>
      </div>
    </div>
  </div>

  <div class="container testimonials">
    <div class="row single">
      <div class="col-12 col-md-3">
        {% asset testimonial-face-5.png %}
      </div>

      <div class="col-12 col-md-9">
        <p>"I can't recommend Alex enough. He completely transformed our marketing efforts. We've had to hire more guys due to the extra work load. If you manage an HVAC company, you need to get him on your team."</p>
        <p><strong>Enrique R. - California</strong></p>
      </div>
    </div>
  </div>
</div>

