---
layout: default
---

<div id="homeHero" class="container">
  <div class="row hero-image">
    <div class="col-12">
      <h1>Free tips to generate more leads for your HVAC business - like a turbine</h1>
    </div>
  </div>
</div>

<div id="postsList" class="container">
  <div class="row">
    <div class="col-12">
      <h2>Ready to grow your HVAC business? Just read the blog posts below to get started.</h2>
    </div>

    {% for post in site.posts %}
      <div class="col-12 col-md-10 offset-md-1 single-post">
        <a href="{{ post.url }}">
          <div class="row">
            <div class="col-12 col-md-6">
              {% asset {{post.thumbnail_image}} %}
            </div>
            <div class="col-12 col-md-6">
              <h3>{{ post.title }}</h3>
              <hr />
              <p>{{ post.description }}</p>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}

  </div>
</div>
