---
title: "Order Confirmation"
permalink: "order-confirmation"
layout: "landing-page"
---

<div id="landingPage" class="container">
  <div class="row">
    <div class="col-12">
      <h1>Thank you for your purchase!</h1>
      <p>You are on your way to having your very own lead funnel.</p>
      <p>A receipt has been sent to your email address. The charge on your card will either be labeled as "Stripe" or "ClickTurbine".</p>
      <p>I will contact you soon to walk you through the next steps and to schedule your strategy session!</p>
      <p>Looking forward to getting into the fine details of your business with you.</p>
      <p>- Alex</p>
    </div>
  </div>
</div>
