---
title: "Payment Error"
permalink: "payment-error"
layout: "landing-page"
---

<div id="landingPage" class="container">
  <div class="row">
    <div class="col-12">
      <h1>Something went wrong</h1>
      <p>There was an error when processing your payment.</p>
      <p><a href="/hvac-lead-generation-blueprint-strategy-session">Please go back and try again.</a> If the problem still persists, send me an email - <strong>alex@clickturbine.com</strong>.</p>
      <p>Sorry about that.</p>
    </div>
  </div>
</div>
