<!DOCTYPE html>
<html>
  <head>
    {% include head.html %}
  </head>
  <body>
    {% include gtag-noscript.html %}
    {{ content }}
    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
