---
layout: default
---
<div id="content" class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 offset-md-2">
      {{ content }}
    </div>
  </div>
</div>

{% include author.html %}

{% include blueprint.html %}

{% include email-popup.html %}
