@import "bootstrap";

body {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #060FDA;
}

#nav {
  margin-bottom: 30px;

  .row {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img {
    width: 285px;
  }

  .links a {
    padding: 0px 8px;
  }
}

#homeHero {
  position: relative;
  margin-bottom: 30px;

  .hero-image {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), asset_url("turbine-home-hero.jpg");
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
  }

  h1 {
    text-align: center;
    padding: 60px 0;
    margin: 0;
    color: #FFF;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
  }
}

#postsList {
  margin-bottom: 30px;

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
    background-color: #060FDA;
    color: #FFF;
    padding: 15px;
  }

  .single-post {
    margin-bottom: 30px;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 0;
  }

  hr {
    width: 50%;
    margin: 1rem 0;
    border-top: 2px solid #777;
  }

  a {
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 30px;
    border: 2px solid #777;
    transition: border 0.2s ease-in;
  }

  a:hover {
    text-decoration: none;
    color: inherit;
    border: 2px solid #060FDA;
  }
}

#content {
  margin-top: 30px;

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    background-color: #060FDA;
    color: #FFF;
    padding: 15px;
    text-align: center;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    padding-left: 15px;
    border-left: 4px solid #060FDA;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 2.1rem;
  }

  ul {
    margin-bottom: 2.1rem;
  }

  ul li {
    font-size: 1.1rem;
    line-height: 1.8rem;
  }

  img {
    width: 100%;
    border: 1px solid #000;
  }

  img.hero {
    border: none;
  }

  small {
    text-align: center;
    color: #777;
    display: block;
  }
}

#author {
  .headshot-and-bio {
    padding: 30px 15px;
    background-color: #F1F1F1;
  }

  img {
    display: block;
    width: 50%;
    margin: 0 auto;
    padding-bottom: 30px;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 2.1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }
}

#blueprint {
  margin-top: 30px;

  .strategy-session-offer {
    border: 2px solid #060FDA;
    border-radius: 5px;
    background-color: #EEFBFF;
  }

  .strategy-session-offer .header {
    background-color: #060FDA;
  }

  img {
    width: 100%;
    padding: 15px;
  }

  h3 {
    color: #FFF;
    font-size: 1.6rem;
    text-align: center;
    padding: 15px;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 2.1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  a.button {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    background-color: #f7a000;
    border-radius: 5px;
    margin-bottom: 2.1rem;
    transition: background-color 0.2s ease-in;
  }

  a.button:hover {
    background-color: #e29300;
  }
}

#footer {
  margin-top: 30px;

  .row {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  img {
    width: 80px;
    display: block;
    margin: 0 auto;
  }

  span {
    font-size: 0.8rem;
    color: #777;
  }

  .links a {
    padding: 0px 8px;
  }
}

#landingPage {
  .header {
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin: 2.5rem 0 30px;
    background-color: #060FDA;
    color: #FFF;
    padding: 15px;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  h3 {
    font-size: 1.6rem;
    margin-bottom: 1.6rem;
    font-weight: bold;
  }

  p {
    font-size: 1.1rem;
    line-height: 1.8rem;
    margin-bottom: 2.1rem;
  }

  p:last-child {
    margin-bottom: 0;
  }

  img {
    width: 100%;
    margin-bottom: 30px;
  }

  .about {
    background-color: #F1F1F1;
    padding: 30px;
  }

  .cta {
    background-color: #EEFBFF;
    border-top: 2px solid #060FDA;
    border-bottom: 2px solid #060FDA;
    text-align: center;
    margin: 60px 0;
    padding: 30px;
  }

  form button.stripe-button-el {
    display: inline-block;
    text-align: center;
    width: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
    text-decoration: none;
    padding: 15px;
    color: #FFF;
    background-color: #f7a000;
    border-radius: 5px;
    transition: background-color 0.2s ease-in;
    background-image: none;
    box-shadow: none;
  }

  form button.stripe-button-el:hover {
    background-color: #e29300 !important;
  }

  form button.stripe-button-el span {
    background-image: none;
    font-size: inherit;
    padding: 0;
    margin: 0;
    width: inherit;
    height: inherit;
    line-height: inherit;
    background: inherit;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    text-shadow: inherit;
    box-shadow: inherit;
    border-radius: inherit;
  }

  .included {
    text-align: center;
    margin-bottom: 90px;
  }

  .included h2 {
    margin: 30px 0 60px;
    text-decoration: underline;
  }

  .included span {
    padding-right: 15px;
    color: #060FDA;
  }

  .included p {
    font-size: 1.6rem;
    line-height: 2.2rem;
    margin-bottom: 60px;
  }

  .three {
    background-color: #F1F1F1;
    padding: 30px;
    text-align: center;
  }

  .three img {
    width: 64px;
  }

  .three p {
    font-size: 1.2rem;
  }

  .three .single {
    margin-bottom: 60px;
  }

  .three .single:last-child {
    margin-bottom: 0;
  }

  .testimonials {
    text-align: center;
    margin-bottom: 90px;
  }

  .testimonials h2 {
    margin: 30px 0 60px;
    text-decoration: underline;
  }

  .testimonials .single {
    margin-bottom: 60px;
  }

  .testimonials .single p {
    font-size: 1.2rem;
  }

  .testimonials .single img {
    width: 230px;
  }

  .alex {
    background-color: #F1F1F1;
    padding: 30px;
    margin: 30px auto 60px;
  }

  .alex img {
    width: 230px;
    display: block;
    margin: 0 auto 30px;
  }

  .alex h3 {
    text-align: center;
  }

  .alex p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }

  .guarantee {
    text-align: center;
  }

  .guarantee h2 {
    margin: 30px 0 60px;
    text-decoration: underline;
  }

  .guarantee img {
    width: auto;
  }

  .guarantee p {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
}

#about {
  img {
    border: none;
    width: 230px;
    display: block;
    margin: 0 auto 30px;
  }
}

#bonusPopup {
  position: relative;
  background: #FFF;
  padding: 0;
  width: auto;
  max-width: 900px;
  margin: 20px auto;
  border: 4px solid #060FDA;
  background-color: #EEFBFF;

  img {
    width: 40%;
    margin: 0 auto;
    display: block;
  }

  h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    text-align: center;
    background-color: #060FDA;
    color: #FFF;
    padding: 10px;
  }

  p {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 7px;
  }

  p:last-child {
    margin-bottom: 0;
  }

  #mc_embed_signup input#mce-EMAIL {
    width: 100%;
    padding: 6px;
    margin-bottom: 15px;
    border: 1px solid #777;
  }

  #mc_embed_signup input.subscribe_button {
    display: block;
    text-align: center;
    width: 100%;
    font-size: 1.1rem;
    font-weight: bold;
    text-shadow: 1px 1px 0px #000;
    text-decoration: none;
    padding: 7px;
    color: #FFF;
    background-color: #f7a000;
    border-radius: 5px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease-in;
  }

  #mc_embed_signup input.subscribe_button:hover {
    background-color: #e29300;
  }

  #mc_success_msg p,
  #mc_error_msg p {
    text-align: center;
    font-weight: bold;
    padding: 15px 0 0 0;
  }

  #mc_embed_signup p.mfp-close,
  #mc_embed_signup p.mfp-close,
  #mc_success_msg p.mfp-close,
  #mc_error_msg p.mfp-close {
    position: relative;
    width: auto;
    height: auto;
    text-decoration: underline;
    cursor: pointer;
    opacity: initial;
  }
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.bonus-offer {
  font-size: 1.1rem;
  line-height: 1.8rem;
  margin-bottom: 2.1rem;
  padding: 15px;
  border: 2px solid #060FDA;
  background-color: #EEFBFF;
}

@include media-breakpoint-up(md) {
  #nav {
    .logo {
      text-align: left;
    }

    .links {
      text-align: right;
    }
  }

  #homeHero {
    .hero-image {
      background-position: 50% 70%;
    }

    h1 {
      padding: 180px 0;
    }
  }

  #postsList {
    img {
      margin-bottom: 0;
    }
  }

  #author {
    img {
      width: 100%;
    }
  }

  #blueprint {
    .strategy-session-offer {
      flex-direction: row-reverse;
    }

    p:first-child {
      margin-top: 15px;
    }
  }

  #footer {
    img {
      display: inline;
    }

    .icon {
      text-align: left;
    }

    .links {
      text-align: right;
    }
  }

  #landingPage {
    .about img {
      margin-bottom: 0;
    }

    .three .single {
      margin-bottom: 0;
    }

    .testimonials .single {
      display: flex;
      align-items: center;
      justify-content: center;
      align-content: center;
      text-align: right;
    }

    .testimonials .single.reverse {
      flex-direction: row-reverse;
      text-align: left;
    }
  }

  #bonusPopup {
    padding: 20px;

    img {
      width: 100%;
    }

    h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.2rem;
      line-height: 1.6rem;
      margin-bottom: 15px;
    }

    #mc_embed_signup input.subscribe_button {
      padding: 15px;
    }
  }
}
